# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.properties
/EMA-AredEspacio/nbproject/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/EMA-AredEspacio/build/
/EMA-AredEspacio/dist/
EMA-AredEspacio/nbproject/build-impl.xml
EMA-AredEspacio/nbproject/build-impl.xml
EMA-AredEspacio/nbproject/genfiles.properties
EMA-AredEspacio/nbproject/jfx-impl.xml
EMA-AredEspacio/nbproject/private/private.properties
EMA-AredEspacio/nbproject/project.properties
EMA-AredEspacio/nbproject/project.properties
EMA-AredEspacio/nbproject/project.properties
EMA-AredEspacio/nbproject/private/private.properties
EMA-AredEspacio/nbproject/jfx-impl.xml
EMA-AredEspacio/nbproject/genfiles.properties
EMA-AredEspacio/nbproject/build-impl.xml
